<section class="section">
    <div class="container">
        <form action="/post" method="POST">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="name" name="name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" type="textarea" placeholder="message" name="message"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link" type="submit" name="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>