<!DOCTYPE html>
<html>
    <?D
        import std.conv: text;
        import core.cpuid;
        import mood.templates;
        import std.stdio;


        bool b = true;
        writeln(foo);
    /?>
    <script>
        console.log("Hello from jabbascript");
        // <?D This is not D-code /?>
        console.log("Goodbye from jabbascript");
    </script>
    <head>
        <title>MOOD Example</title>
        <link href="https://reece.ooo/bulma.css" rel="stylesheet"/>
    </head>
    <body>
        <section class="hero is-info is-medium">
            <div class="hero-body">
                <div class="container">
                        <p class="title"><?D output("hello from mood!"); /?></p>
                        <p class="subtitle">Host CPU: <?D output(processor()); /?> </p>
                </div>
            </div>
        </section>
        <include:includes/Foo.html/>
        <section class="section">
            <div class="container">
                <article class="content">
                    <strong>URI: <?D output(req.requestURI); /?></strong>
                    <ul>
                        <?D
                            for (int i = 0; i < 10; i++)
                            {
                                output("hello world".li([
                                    `class`: `"has-text-danger"`
                                ]));
                            }
                        /?>
                    </ul>
                </article>
            </div>
        </section>
    </body>
</html>