<?D
    import core.cpuid;
/?>
<!DOCTYPE html>
<html>
    <head>
        <title>MOOD Example</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <div class="container">
                    <p class="content">
                        <p class="title"><?D output("hello from mood!"); /?></p>
                        <p class="subtitle">Host CPU: <?D output(processor()); /?> </p>
                    </p>
                </div>
            </div>
        </section>
        <include:includes/Foo.html/>
    </body>
</html>