<!DOCTYPE html>
<html>
    <?D
        import core.cpuid;
    /?>
    <script>
        console.log("Hello from jabbascript");
        // <?D This is not D-code /?>
        console.log("Goodbye from jabbascript");
    </script>
    <head>
        <title>MOOD Example</title>
        <link href="https://reece.ooo/bulma.css" rel="stylesheet"/>
    </head>
    <body>
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <div class="container">
                        <p class="title"><?D output("hello from mood!"); /?></p>
                        <p class="subtitle">Host CPU: <?D output(processor()); /?> </p>
                </div>
            </div>
        </section>
        <include:includes/Foo.html/>
    </body>
</html>